
.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: .5rem;
  align-items: center;
}
.person::after{
  content: ' ';
  width: 100%;
  border: 1px solid rgb(189, 186, 186);
  background-color: rgb(177, 172, 172);
}
.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-left: 15px;
}
.person h4 {
  margin-bottom: 0.15rem;
}
.person p {
  margin-bottom: 0;
}
